.navigation {
    background: url("../res/navbg.png");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.navigation__container__button {
    width: 110px;
    aspect-ratio: 136/100;
    background: url("../res/leafbutton.png");
    background-size: contain;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        transform: scale(110%);
    }
}

.navigation__container__button:hover {
    cursor: pointer;
}

.navigation__container__button__text {
    user-select: none;
    position: relative;
    top: -5px;
    padding-left: 15px;
    line-height: 0.9;
    --rotation: 18.54deg;
    transform: rotate(var(--rotation));
    -moz-transform: rotate(var(--rotation));
    -webkit-transform: rotate(var(--rotation));
}