a, link, link:visited {
    color: white;
}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: Montserrat, sans-serif;
    color: white;
    background: var(--bgYellow);
    display: flex;
    flex-direction: column;
}

.blockContent {
    padding: 0 20px;
}

.footer {
    padding: 20px 0;
    box-sizing: border-box;
    border-top: 40px solid var(--darkOrange);
    background: var(--bgOrange);
}

.footer__header {
    font-size: 40px;
    font-weight: 900;
    width: 600px;
    line-height: 0.8;
    margin: 10px 0;
}

.footer_contacts {
    width: 80%;
}

.footer__contacts__button {

    --shadow-color: var(--DarkGreen);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 25px;
    font-weight: 800;
    background-color: var(--Green);
    box-shadow: 0 6px 0 var(--shadow-color);
    border-radius: 10px;
    transition: 0.2s;
    box-sizing: border-box;

    &:hover{
        background-color: var(--GreenHover);
        --shadow-color: var(--DarkGreenHover);
    }
}