.textBlock {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 10px;
}

.textBlock__banner {
    background: var(--bannerRed);
    padding: 10px;
}

.textBlock__banner__header {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18pt;
}

.textBlock__banner__image {
    width: calc(100% + 20px);
    margin: -10px -10px 10px -10px;
}

.textBlock__bannerTail {
    height: 56px;
    margin-top: -1px;
    background-image: url("../res/path43.svg");
    background-repeat: space no-repeat;
    background-position: top;
    background-size: contain;
}
